/* ------------------------------------------------------------------
 * Indonez      : Fina - HTML Template
 * File         : style.css
 * Version      : 1.0
 * Author       : indonez - team
 * Author URI   : http://indonez.com
 *
 * Indonez Copyright 2015 All Rights Reserved.
 * ------------------------------------------------------------------ */ 
@import "mediaquery.css";

/* ------------------------------------------------------------------
   
[Table of contents]
    1. element
        1.1. global
        1.2. typhography
        1.3. header
        1.4. mainmenu
    1.5. slideshow
    2. uikit override
        2.1. uikit global
        2.2. uikit uikit typography
        2.3. uikit button
        2.4. uikit card
        2.5. uikit form
        2.6. uikit label
        2.7. uikit pagination        
        2.8. uikit breadcrumb
        2.9. uikit accordion
        2.10. uikit alert
        2.11. uikit dropcap
        2.12. uikit list
        2.13. uikit comment
        2.14. uikit progress
        2.15. uikit tab
        2.16. uikit table
    3. idz style
        3.1. idz global
        3.2. idz tab
        3.3. idz progress
        3.4. idz mobile menu
        3.5. idz stock ticker
        3.6. idz invest content
        3.7. idz resources content
        3.8. idz platform icon
        3.9. idz award logo and rating
        3.10. idz icon wrap
        3.11. idz badge
        3.12. idz stock card
        3.13. idz stock fee
        3.14. idz hero image
        3.15. idz custom backgroun
        3.16. idz article
        3.17. idz 404 content
        3.18. idz line chart
        3.13. idz stock fee
        3.19. idz testimonial
        3.20. idz education
        3.21. idz contact
        3.21. idz widget
    4. footer

------------------------------------------------------------------ */


    @font-face {
    font-family: 'century_gothicregular';
    src: url('../fonts/centurygothic.woff2') format('woff2'),
         url('../fonts/centurygothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'century_gothicregular';
    src: url('../fonts/centurygothic.woff2') format('woff2'),
         url('../fonts/centurygothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





/* [ 1.1. global ] */
body {
    background: #f4f4f4;
  font-family: 'century_gothicregular';
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #788084
}

a, .uk-link   {
    color: #b4b4b4;
}

a:hover, .uk-link:hover {
    color: #196010 !important;
}

hr {
    border-top: 2px solid #e6e6e6;
}

pre {
    padding: 10px 15px;
    background: #f3f3f3 url(../images/pre_bg.gif) repeat 0 -9px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    font: 12px / 18px Consolas, monospace, serif;
    color: #969696;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap
}

audio {
    padding: 30px 0;
}

/* [ 1.2. typhography ] */
h1,h2,h3,h4,h5,h6 {
  font-family: 'century_gothicregular';
    font-weight: 800;
    color: #37474f
}

h6, .uk-h6 {
    font-size: 13px;
}

h6.uk-text-muted {
    color: #788084 !important;
}

.uk-heading-primary {
    font-size: 48px;    
}

blockquote {
    margin: 0 0 5px 0 !important;
    font-size: 15px;
    line-height: 26px;
    color: #788084;
}

blockquote footer {
    background: none !important;
}

/* [ 1.3. header ] */
header {
    background: #fff url(../images/header_ornament.png) no-repeat 24% 0 ;
    padding-top: 15px;  
}

header hr {
    position: relative;
    top: 39px;
}

#header-logo {
    width: 200px;
    position: relative;
    z-index: 999;
}

#header-logo2 {
    width: 50px;
    background: #fff;
    position: relative;
    z-index: 999;
}

header .phone-number h2{
    font-size: 21px;
  font-family: 'century_gothicregular';
    font-weight: 800;
    color: #196010;
    margin-top: 5px;
    line-height:38px;
}

.idz-mini-nav {
    font-size: 13px;
    padding: 0px 10px 0px 15px;
    background: #f4f4f4;
    border-radius: 6px;
    /*position: relative;*/
    /*top: 6px;*/
    /*right: -78px;*/
    color: #196010;
}

.idz-mini-nav select {
  font-family: 'century_gothicregular';
    font-size: 14px;
    border-right: 1px solid #ccc;
    padding: 0 8px;
}

.idz-mini-nav span.idz-globe {
    position: relative;
    margin-right: 2px;
    top: 0px;    
}

.idz-mini-nav .uk-button {
  font-family: 'century_gothicregular';
    font-weight: 300;
    font-size: 13px;
    border-left: 1px solid #d2d2d2;
    margin-left: 10px;
    padding: 0 5px 0 14px;
    text-transform: capitalize;
}

.idz-mini-nav .uk-button:hover {
    color: #196010;   
}

.idz-header-alt {
    background: transparent !important;
    margin-bottom: -200px
}

#pagetitle-container {
    height: 66px;
    background: #eaeaea;
}

/* [ 1.4. mainmenu ] */
header .uk-navbar-container:not(.uk-navbar-transparent) {
    background: transparent !important;
   /* margin-top: 20px;*/
}

header .uk-navbar-nav > li > a {
    padding: 22px 18px;
}

header .uk-navbar-nav > li > a:active,
header .uk-navbar-nav > li.uk-active > a {
  color: #196010;
}

header .uk-navbar-nav > li > a {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 13px;
    height: auto;
    color: #37474f;
}

header .uk-navbar-nav > li:hover > a,
header .uk-navbar-nav > li > a:focus,
header .uk-navbar-nav > li > a.uk-open {
    color: #196010;
}

header .uk-navbar-right > ul li:last-child > a {
    padding-right: 0px;
}
.uk-button-secondary:hover, .uk-button-secondary:focus, .uk-button-primary:hover, .uk-button-primary:focus{
    color: #fff !important;
}
header .uk-navbar-right div a.uk-button-primary:hover,
header .uk-navbar-right div a.uk-button-secondary:hover,
header .uk-navbar-right div a.uk-button-danger:hover {
    color: #fff !important;
}

.idz-dropdown-nopadding {
    margin-top: -14px;
    margin-bottom: -14px;
}

.uk-navbar-dropdown {
    background: #901005;
    margin-top: -20px;
    padding: 25px 25px 28px 25px;
}

.uk-navbar-dropdown-grid > :not(.uk-first-column)::before {
    border-left: 1px solid #556269;
}

.uk-navbar-dropdown-grid.uk-grid-stack > .uk-grid-margin::before {
    border-top: 1px solid #556269;
}

header .uk-navbar-nav > li .uk-navbar-dropdown ul li > a {    
    padding: 5px 0px;
  font-family: 'century_gothicregular';
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}

header .uk-navbar-nav > li .uk-navbar-dropdown ul li > a:hover,
header .uk-navbar-nav > li .uk-navbar-dropdown ul li.uk-active a,
header .uk-navbar-nav > li .uk-navbar-dropdown ul li.uk-active i,
header .uk-navbar-nav > li .uk-navbar-dropdown ul li:hover i {
    color: #fff !important;
}

.uk-navbar-dropdown ul li.uk-nav-header {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 13px;
    color: #fff;
}

.uk-navbar-dropdown ul li i {
    width: 14px;
    margin: 10px 10px 0 0;
    color: #afb5b9;
    float: left;
}

.uk-sticky,
.uk-sticky2 {
    width: 100% !important;
    background: #fff !important;
    left: 0% !important;
}

.uk-sticky .uk-navbar-left:before,
.uk-sticky2 .uk-navbar-right:before {
    width: 70px;
    height: 70px;
    background:#fff url(../images/logo_header_alt.svg) center center;
    background-size: 50px 50px;
    content: "";
}

.uk-sticky .uk-navbar-right:after {
    width: 18px;
    content: "";
}

.uk-sticky2 .uk-navbar-right {
    margin-left: 0px !important;
}

.uk-sticky2 .uk-navbar-right > ul li > a {
    color: #901005!important;   
}

.uk-sticky2 .uk-navbar-right > ul li:hover > a,
.uk-sticky2 .uk-navbar-right > ul li > a:active,
.uk-sticky2 .uk-navbar-right > ul li.uk-active > a {
    color: #196010 !important;   
}

.uk-sticky2 .uk-navbar-dropdown {
    top: 90px !important;
}

.uk-sticky2 .uk-navbar-nav > li .uk-navbar-dropdown ul li > a {
    color: #afb5b9 !important;
}

.uk-sticky2 .uk-navbar-nav > li .uk-navbar-dropdown ul li > a:hover,
.uk-sticky2 .uk-navbar-nav > li .uk-navbar-dropdown ul li.uk-active a,
.uk-sticky2 .uk-navbar-nav > li .uk-navbar-dropdown ul li:hover i {
    color: #fff !important;
}

.uk-sticky2 .uk-navbar-right > ul li > a.uk-button {
    position: absolute !important;
    right: 18px;
}

.uk-sticky2 .uk-navbar-right > ul li > a.uk-button-default {
    color: #901005 !important;
    box-shadow: inset 0 0 0 2px rgba(0,178,118,1) !important;
}

header.idz-header-alt .uk-navbar-container:not(.uk-navbar-transparent) {
    border-top: none;
    background: transparent;
    margin-top: 4px;
}

header.idz-header-alt .uk-navbar-right > ul li > a {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 13px;
    padding: 8px 18px;
    height: auto;
    color: #fff;
}

header.idz-header-alt .uk-navbar-right > ul li > a.uk-button {
    font-size: 11px;
    margin-left: 20px;
    padding: 2px 19px;
}

header.idz-header-alt .uk-navbar-right > ul li > a.uk-button-default {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
}

header.idz-header-alt .uk-navbar-right > ul li > a:active,
header.idz-header-alt .uk-navbar-right > li.uk-active > a { 
  color: #fff;
}

header.idz-header-alt .uk-navbar-right > ul li:hover > a,
header.idz-header-alt .uk-navbar-right > ul li > a:focus,
header.idz-header-alt .uk-navbar-right > ul li > a.uk-open {
  color: #fff;
}

/* [ 1.5. Slideshow ] */
#slideshow-container {
    height: 370px;
    background: #eaeaea;
}

#slideshow-container2 {
    height: 782px;
    background: #eaeaea;
}

#slideshow-container2 ul.uk-slideshow-items .uk-container {
    top: 61%;
}

.uk-slideshow-items h1,
.uk-slideshow-items h3.idz-thin {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#slideshow-container ul.uk-dotnav,
#slideshow-container2 ul.uk-dotnav {
    top: -52px;
    position: relative;
}

#slideshow-container ul.uk-dotnav > * > *,
#slideshow-container2 ul.uk-dotnav > * > * {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

#slideshow-container ul.uk-dotnav > .uk-active > *,
#slideshow-container2 ul.uk-dotnav > .uk-active > * {
  background-color: rgba(255, 255, 255, 1);
}

/* [ 2.1. uikit global ] */
.uk-container {
    max-width: 1080px;
}

.uk-container-expand {
    max-width: none;
}

.uk-grid-divider > :not(.uk-first-column)::before {
    border-left: 2px solid #e6e6e6;
}

.uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
    border-top: 2px solid #e6e6e6;
}

.uk-background-primary {
  background-color: #196010;
}

.uk-background-default {
    background-color: #fff;
}

/* [ 2.2. uikit typography ] */
.uk-text-lead {
  font-family: 'century_gothicregular';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #788084;
}

.uk-text-small {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
}

.uk-text-muted {
    color: #b5b5b5 !important;
}

.uk-text-success {
    color: #196010 !important;
}

.uk-text-small {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 1.6;
}

/* [ 2.3. uikit button ] */
.uk-button {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 11px;
    padding: 2px 19px;
}

.uk-button-default {
    background-color: #ffc10c;
    color: #fff;    
    box-shadow: inset 0 0 0 2px #ffc10c;
    border: transparent;
    border-radius: 6px;
}

.uk-button-default:hover,
.uk-button-default:focus {
    color: #fff;
}

.uk-button-primary {
    background-color: #196010;
    border: transparent;
    border-radius: 6px;
}

.uk-button-primary:hover,
.uk-button-primary:focus {
    background-color: #ffc10c;
}

.uk-button-secondary {
    background-color: #901005;
    border: transparent;
    border-radius: 6px;
}

.uk-button-secondary:hover,
.uk-button-secondary:focus {
    background-color: #ffc10c;
}

.uk-button-danger {
    background-color: #e74c3c;
    border: transparent;
    border-radius: 6px;
}

.uk-button-danger:hover,
.uk-button-danger:focus {
    background-color: #f0685a;
}

.uk-button-text {
    padding: 0px !important; 
    color: #196010;
}

.uk-button-text:hover,
.uk-button-text:focus {
    color: #196010;
}

.uk-button-text::before {
    border-bottom: 1px solid #196010;
}

/* [ 2.4. uikit card ] */
.uk-card-default {
    background: #fff;
    color: #666;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
    border: 1px solid #e5e1e1;
    border-radius: 3px;
}

.uk-card-primary {
    background: #196010;
    border-radius: 3px;
}

.uk-card-secondary {
    background: #37474f;
    border-radius: 3px;
    box-shadow: none;
}

/* [ 2.5. uikit form ] */
.uk-input, .uk-select, 
.uk-textarea, .uk-search-default .uk-search-input {
    padding: 0 12px;
    background: #fbfbfb;
    color: #666;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
}

.uk-textarea {
    padding-top: 7px;
    padding-bottom: 7px;
}

.uk-input, .uk-select:not([multiple]):not([size]) {
    height: 42px;
}

.uk-form-horizontal .uk-form-label {
    width: 100px;
}

.uk-form-horizontal .uk-form-controls {
    margin-left: 10px;
}

.uk-search-default .uk-search-input {
    padding-left: 20px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
    height: 48px;
}

.uk-search-default .uk-search-icon-flip {
    padding-right: 10px;
}

/* [ 2.6. uikit label ] */
.uk-label {
    padding: 7px 16px 6px 16px;    
    line-height: 1.2;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 50px;
}

.uk-label-success {
    background-color: #ffc10c !important;
}

.uk-label-warning {
    background-color: #faa05a !important;
}

.uk-label-danger {
    background-color: #f0506e !important;
}

.uk-pagination {
    font-size: 16px;
}

/* [ 2.7. uikit pagination ] */
.uk-pagination > .uk-active > *,
.uk-pagination > * > :hover,
.uk-pagination > * > :focus {
    color: #196010;
}

.uk-pagination-next {
    position: relative;
    top: -1px;
}

/* [ 2.8. uikit breadcrumb ] */
.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
    margin: 0 12px;
}

/* [ 2.9. uikit accordion ] */
.uk-accordion-title {
    padding: 14px 18px 14px 25px;
    background: #eaeaea;
    color: #707070;
    border: 1px solid #dedede;
    border-radius: 3px;
    font-size: 15px;
}

.uk-accordion-content {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 22px 25px;
    margin-top: -10px;
}

.uk-accordion-title::after,
.uk-open > .uk-accordion-title::after {
    background-image: none;
    font-family: 'FontAwesome';
    font-size: 16px;
    src: url('../fonts/fontawesome-webfont3e6e.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont3e6e.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont3e6e.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont3e6e.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular') format('svg');   
    content: "\f107";
    color: #838383;
    position: relative;
    top: 1px;
}

.uk-open > .uk-accordion-title::after {
    content: "\f106";
    position: relative;
    top: -1px;
}

/* [ 2.10. uikit alert ] */
.uk-alert-primary {
    background: #cce9f2;
    color: #3194b1;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    border: 1px solid #86cde3;
}

.uk-alert-success {
    background: #d8f1c6;
    color: #749958;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    border: 1px solid #b3cda1;
}

.uk-alert-warning {
    background: #fbf4dd;
    color: #978c68;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    border: 1px solid #d1c9ae;
}

.uk-alert-danger {
    background: #f9d9d9;
    color: #b55454;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    border: 1px solid #e1a1a1;
}

/* [ 2.11. uikit dropcap ] */
.uk-dropcap::first-letter,
.uk-dropcap > p:first-of-type::first-letter {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 42px;
    line-height: 42px;
    margin: 7px 10px 0 0;
    color: #666;  
}

.uk-dropcap.circle::first-letter,
.uk-dropcap.circle > p:first-of-type::first-letter {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 24px;
    line-height: 42px;
    margin: 7px 10px 0 0;
    padding: 0 13px;
    background: #666;
    color: #fff;
    border-radius: 50%;
}

.uk-dropcap.square::first-letter,
.uk-dropcap.square > p:first-of-type::first-letter {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 24px;
    line-height: 42px;
    margin: 7px 10px 0 0;
    padding: 0 13px;
    background: #666;
    color: #fff;
    border-radius: 4px;
}

@-moz-document url-prefix() { 
    .uk-dropcap.circle::first-letter,
    .uk-dropcap.circle > p:first-of-type::first-letter,
    .uk-dropcap.square::first-letter,
    .uk-dropcap.square > p:first-of-type::first-letter { 
        padding: 12px 13px;
    }
}

/* [ 2.12. uikit list ] */
.uk-list-bullet > li {
    padding-left: calc(1.2em + 6px);
}

.uk-list-bullet > li::before {
    background-position: 5% 60%;
}

[class*="idz-list"] > li::before {
    width: 2em;
    height: 1.5em;
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont3e6e.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont3e6e.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont3e6e.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont3e6e.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    float: left;
}

.idz-list-check > li::before {   
    content: "\f00c";
    color: #196010;
}

.idz-list-star > li::before {
    font-size: 13px;
    content: "\f005";
    color: #f1c40f;
}

.idz-list-flag > li::before {
    font-size: 14px;
    content: "\f024";
    color: #40a3e3;
}

.idz-list-cog > li::before {
    content: "\f013";
    color: #7f8c8d;
}

.idz-list-plus > li::before {
    content: "\f0fe";
    color: #196010;
}

/* [ 2.13. uikit comment ] */
.uk-comment-list>:nth-child(n+2) {
    margin-top: 30px;
}

.uk-comment-list .uk-comment ~ ul {
  margin: 30px 0 0 0;
}

.uk-comment-primary {
    padding: 20px 30px 30px 30px;
    background-color: #fff !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
    border: 1px solid #e5e1e1;
    border-radius: 3px;
}

/* [ 2.14. uikit progress ] */
.uk-progress {
    background-color: #eaeaea;
    height: 25px;
}

.uk-progress::-webkit-progress-bar {
    background-color: #eaeaea;
}

/* [ 2.15. uikit tab ] */
.uk-tab > .uk-active > a {
    border-color: #196010;
}

.uk-tab-bottom > * > a {
    padding-top: 7px;
}

/* [ 2.16. uikit table ] */
.uk-table th {
  font-family: 'century_gothicregular';
    font-size: 11px;
    font-weight: 800;
    color: #37474F;
    background: #e2e2e2;
    border-bottom: none;
    text-transform: uppercase;
}

.uk-table td {
    font-size: 14px;
}

.uk-table-striped > tr:nth-of-type(odd),
.uk-table-striped tbody tr:nth-of-type(odd) {
    background: #eeeeee;
}

.uk-table-striped td {
    border-right: 1px solid #e2e2e2;
}

.uk-table-striped td:last-child,
.uk-table-striped th:last-child {
    border-right: none;
}

/* [ 3.1. idz global ] */
.idz-thin {
    font-weight: 300;
}

.idz-blockquote {
    border-left: 2px solid #e6e6e6;
    margin-left: 25px !important;
    padding-left: 25px;
}

.idz-iframe-video {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
    margin-bottom: 20px;
}

.idz-iframe-video iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.idz-card-custom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    border: none;
}

.idz-audio-wrap {
    margin: 30px 0 20px 0 !important;
}

.idz-trade-statistics h1 {
    font-size: 48px;
}

.idz-special-content {
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -40px !important;
    padding: 25px 40px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.idz-special-content h5 a {
    text-decoration: underline;
}

/* [ 3.2. idz tab ] */
.idz-tab-left .uk-tab>*>a {
    padding-right: 30px;
    padding-left: 0px;
    text-align: left;
}

.idz-tab-right .uk-tab>*>a {
    padding-left: 30px;
    padding-right: 0px;
    text-align: right;
}

/* [ 3.3. idz progress ] */
.idz-progress h6 {
    height: 10px;
    font-size: 11px;
    margin-bottom: -25px;
    padding: 5px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    color: #fff;
    float: left;
    position: relative;
    z-index: 100;
}

.idz-progress.green .uk-progress::-webkit-progress-value {
    background-color: #196010;
}

.idz-progress.green .uk-progress::-moz-progress-bar {
    background-color: #196010;
}

.idz-progress.green .uk-progress::-ms-fill {
    background-color: #196010;
}

.idz-progress.orange .uk-progress::-webkit-progress-value {
    background-color: #e67e22;
}

.idz-progress.orange .uk-progress::-moz-progress-bar {
    background-color: #e67e22;
}

.idz-progress.orange .uk-progress::-ms-fill {
    background-color: #e67e22;
}

.idz-progress.red .uk-progress::-webkit-progress-value {
    background-color: #e74c3c;
}

.idz-progress.red .uk-progress::-moz-progress-bar {
    background-color: #e74c3c;
}

.idz-progress.red .uk-progress::-ms-fill {
    background-color: #e74c3c;
}

/* [ 3.4. idz mobile menu ] */
.idz-mobile-nav {
    font-size: 16px;
    color: #37474f;
    position: relative;
    z-index: 999;
}

.idz-mobile-nav.uk-icon>* {
    margin: 0 10px !important;
    top: -1px !important;
    position: relative;
}

a.idz-mobile-nav:hover {
    text-decoration: none !important;
}

/* [ 3.5. idz stock ticker ] */
.idz-stock-ticker-container {
    height: 60px;
    background: #901005!important;
    line-height: 54px;
}

.idz-stock-ticker-price {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 13px;
    color: #fff;
     display: inline-block;
}

.idz-stock-ticker-up {
    margin-left: 6px;
    color: #27ae60;    
}

.idz-stock-ticker-down {
    margin-left: 6px;
    color: #ffc10c;    
}

.ticker-up, .ticker-down {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont3e6e.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont3e6e.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont3e6e.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont3e6e.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    padding-left: 8px;
    margin-right: 8px;
}

.ticker-up:before {
    content: "\f0d8";
}

.ticker-down:before {
    content: "\f0d7";
}



/*.idz-stock-container {
    height: 60px;
    background: #901005!important;
}

.container .wrap {
    width: 99%;
    height: 32px;
    left: 9px;
    top: 13px;
    overflow: hidden;
    position: relative;
    line-height: 30px;
    font-size-adjust: none;
}

div.stockTicker {
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

div.stockTicker span.quote {
    margin: 0;
    color: #fff;
    padding: 0 5px 0 38px;
}
.GreenText {
    color: #27ae60;
}

.RedText {
    color: #f64747;
}

.up_green, .down_red {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    padding-left: 5px;
    margin-right: 8px;
}

.up_green:before {
    content: "\f0d8";
}

.down_red:before {
    content: "\f0d7";
}*/

/* [ 3.6. idz invest content ] */
.idz-invest-product {
    background:url(../images/content/content_background1.png) no-repeat top center;
    padding: 45px 0 0 0;
}

.idz-invest-card {
    min-height: 200px;
    font-size: 13px;
    line-height: 22px;
}

.idz-invest-card i.fa {
    margin: 0 20px 18px 0 !important;
}

.uk-card-primary.idz-invest-card > :not([class*='uk-card-media']) {
    color: #fff;
}

.idz-invest-card.green {
    background: #1abc9c;
}

.idz-invest-card.blue {
    background: #3498db;
}

.idz-invest-card.purple {
    background: #9b59b6;
}

.idz-invest-card.midnight {
    background: #34495e;
}

.idz-invest-card.grey {
    background: #95a5a6;
}

.idz-invest-card.orange {
    background: #e67e22;
}

.idz-invest-platform .uk-card-default {
    border: none;
    box-shadow: none;
}

.idz-invest-hero h2 {
    margin-top: 12px;
    line-height: 52px;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

/* [ 3.7. idz resources content ] */
.idz-resources-card {
    font-size: 13px;
    line-height: 22px;
}

.uk-card-primary.idz-resources-card > :not([class*='uk-card-media']) {
    color: #fff;
}

.idz-resources-card.red {
    background: #e74c3c;
}

.idz-resources-card.red i {
    color: #fff;
}

.idz-resources-card i {
    color: #ffc10c;
}

/* [ 3.8. idz platform icon ] */
.idz-platform-icon li {
    width: 24.1%;
    display: inline-block;
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 13px;
    text-align: center;
    color: #37474f;
}

.idz-platform-icon li i {
    width: 100%;
}

/* [ 3.9. idz award logo and rating ] */
.idz-award-container > * {
    margin-bottom: -18px !important;
}

.idz-award-logo h5 {
    color: #949494;
}

.idz-award-logo.small {
    margin-bottom: -25px;
}

.idz-award-logo.small h5 {
    font-size: 13px;
}

.idz-award-logo img {
    margin: -2px 0 0 10px;
}

.idz-award-logo.small img {
    width: 143.2px;
}

.idz-award-logo ul.uk-list.idz-award-rating {
    position: relative;
    top: -9px;
    left: -106px;
    margin-right: -104px;
}

.idz-award-logo.small ul.uk-list.idz-award-rating {
    top: -15px;
    left: -90px;
}

ul.uk-list.idz-award-rating li {
    margin-right: -3px;
    display: inline-block;
    font-size: 13px;
    color: #949494;
}

ul.uk-list.idz-award-rating.small li {
    font-size: 11px;
}

ul.uk-list.idz-award-rating.large li {
    font-size: 20px;
}

ul.uk-list.idz-award-rating.yellow li{
    color: #ecb000;
}

.idz-award-logo.alt {
    margin-bottom: 0px !important;    
}

.idz-award-logo.alt img {
    margin-top: 5px;
}

.idz-award-logo.alt ul.uk-list.idz-award-rating  {   
    position: relative;
    top: -14px;
    left: -110px;
}

.idz-award-logo.alt ul.uk-list.idz-award-rating li {
    font-size: 13px;
    color: #949494;
    margin: 0px -3px -100px 0;
}

.idz-award-logo.alt ul.uk-list li {
    margin: 0px 0 -10px 0;
}

/* [ 3.10. idz icon wrap ] */
.idz-icon-circle {
    width: 80px;
    height: 80px;
    background: #196010;
    color: #f4f4f4;
    border-radius: 50px;
    text-align: center;
    line-height: 92px;
}

.idz-icon-circle.large {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    line-height: 168px;
}

.idz-icon-circle.white {
    background: #fff;
    color: #196010;
}

/* [ 3.11. idz badge ] */
.idz-badge-circle {
    width: 120px;
    height: 98px;
    padding-top: 22px;
    background: #fff;
    color: #f4f4f4;
    border: 3px solid #196010;
    box-shadow: 0 0 0pt 7pt #fff;
    border-radius: 100px;
    text-align: center;
    line-height: 88px;
    float: left;
    transform: rotate(9deg);
}

.idz-badge-circle h5 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #196010;
}

.idz-badge-circle h3 {
    font-size: 32px;
    margin: -20px 0 -40px 0;
    text-transform: uppercase;
    color: #196010;
}

/* [ 3.12. idz stock card ] */
.idz-stocks-card h6 span{
    font-weight: normal;
    border-left: 2px solid #e6e6e6;
    margin-left: 12px;
    padding-left: 12px;
    color: #788084;
}

.idz-stocks-card p {
    margin: 4px 0 -4px 0 !important;
    font-size: 24px;
    color: #37474F;
}

.idz-stocks-card p span {
    font-size: 15px;
    margin-left: 10px;
}

.idz-stocks-card2 {
    margin-bottom: 20px;
    padding: 12px 14px;
}

.idz-stocks-card2 p {
    margin: 4px 0 -4px 0 !important;
    font-size: 18px;
    color: #37474F;
}

.idz-stocks-card2 p span {
    font-size: 13px;
    margin-left: 10px;
}

.idz-stocks-card p span.price-up,
.idz-stocks-card2 p span.price-up {
    color: #27AE60;
}

.idz-stocks-card p span.price-down,
.idz-stocks-card2 p span.price-down {
    color: #F64747;
}

/* [ 3.13. idz stock fee ] */
.idz-stocks-fee h3 {
    color: #949494;
}

.idz-stocks-fee h1 {
    font-size: 74px;
    font-weight: 300;
    color: #949494;
    margin: -70px 0 30px 0;
}

.idz-stocks-fee span.idz-dollar {
    font-size: 56px;
    margin-right: -30px;
    top: -6px;
    position: relative;
}

.idz-stocks-fee span.idz-fee {
    font-size: 128px;
    margin-right: -20px;
    top: 39px;
    position: relative;
}

.idz-stocks-fee .fa {
    margin: -170px -10px 0 0;    
    font-size: 120px;
    color: #eaeaea;
}

/* [ 3.14. idz hero image ] */
.idz-hero-image {
    width: 113%;
    position: relative;
    top: -85px;
    right: -41px;
    margin-bottom: -60px;
    float: right;
}

/* [ 3.15. idz custom background ] */
.idz-invest-content {
    background:#3d3a3b url(../images/content/content_background5.jpg) no-repeat top center;   
}

.idz-create-account {
    background:#fff url(../images/content/content_background3.png) no-repeat top right;
    border-top: 1px solid #eceaea;
}

.idz-quote-background {
    background: #901005url(../images/content/wb_quote.png) no-repeat right;
}

.idz-white-background {
    background:#fff;
    border-top: 1px solid #eceaea;
}

/* [ 3.16. idz article ] */
.idz-article p.uk-article-meta {
    position: relative;
    top: 30px;
    margin-bottom: 33px;
}

.idz-article span.uk-label {
    position: relative;
    top: -7px;
    margin: 10px 10px 0 0;
}

.idz-article .uk-icon-button {
    background-color: rgba(55, 71, 79, 1);
    color: rgba(255, 255, 255, 1);
}

.idz-article .uk-icon-button.twitter {
    background-color: rgba(95, 168, 220, 1);
    color: rgba(255, 255, 255, 1);
}

.idz-article .uk-icon-button.facebook {
    background-color: rgba(58, 90, 152, 1);
    color: rgba(255, 255, 255, 1);
}

.idz-article .uk-icon-button.linkedin {
    background-color: rgba(0, 120, 181, 1);
    color: rgba(255, 255, 255, 1);
}

.uk-article i.fa {
    font-size: 19px;
}

.uk-article h6.uk-article-meta {
    font-size: 13px;
    margin-bottom: -25px;
    padding-top: 0px;
}

.uk-article p.uk-article-meta {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: -13px;
}

.uk-article h5 a.uk-link-reset {
    color: #196010 !important;
}

.uk-article h5 a.uk-button-text::before {
    border-bottom: 1px solid #196010;
}

.idz-link-background a:hover {
    color: #fff !important;
}

/* [ 3.17. idz 404 content ] */
.idz-link-background::after,
.idz-404-background::after {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont3e6e.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont3e6e.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont3e6e.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont3e6e.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-size: 80px;
    position: relative;
    right: -96%;
    margin-bottom: -44px;
}

.idz-link-background::after,
.idz-404-background::after {   
    content: "\f0c1";
    color: rgba(255, 255, 255, 0.3);
}

.idz-404-background::after {
    font-size: 170px;
    top: -20px;
    right: -80%;
    margin-bottom: -64px;
}

.idz-404-background::after {   
    content: "\f12e";
    transform: rotate(22deg);
}

.idz-404-background {
    margin-top: 45px;
}

@supports (-ms-ime-align:auto) {
    .idz-404-background ul.uk-subnav { 
        margin-bottom: 55px;
    } 
}

/* [ 3.18. idz line chart ] */
.idz-line-chart1 {
    width: 155px;
    height: 86px;
    margin: 8px 20px 12px 0;
}

.idz-line-chart2 {
    height: 90px;
    margin-bottom: -1px;
}

/* [ 3.19. idz testimonial ] */
.idz-testimonials .uk-card-small {
    padding: 28px 28px;
}

.idz-testimonials .uk-card:before {
    width: 25px;
    height: 17px;
    background: #fff;
    content: '';
    position: absolute;
    z-index: 999;
    left: 47px;
    bottom: 0;
    margin-left: -7px
}

.idz-testimonials .uk-card:after {
    width: 17px;
    height: 17px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    content: '';
    position: absolute;
    z-index: 888;
    left: 50px;
    bottom: -6px;
    margin-left: -7px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.idz-testimonials img {
    width: 65px;
    height: 65px;
}

.idz-testimonials h6 {
    margin: 4px 0 -4px 0;
}

/* [ 3.20. idz education ] */
.idz-education {
    padding: 10px 0;
}

.idz-education .uk-button-default {
    margin: 0 3px;
}

.idz-education .fa {
    color: #196010;
}

.idz-education span.uk-text-top {
    top: 10px;
    position: relative;
}

.idz-education p.uk-margin-left {
    top: 4px;
    position: relative;
}

/* [ 3.21. idz contact ] */
#map {
    width: 100%;
    height: 360px;
    margin: -2px 0 0 -1px;
    background: #f6f6f6;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
    border: 1px solid #e5e1e1;
    border-top: none;
    float: left
}

.idz-list-contact li span.uk-label {
    font-size: 11px;
    position: relative;
    top: -1px;
    margin-left: -29px;
}

.idz-contact-loading {
    margin-top: 8px;
}

.idz-contact-loading span {
    margin-right: 8px;
    position: relative;
    top: -2px;
}

/* [ 3.22. idz widget ] */
.idz-widget-card {
    padding: 26px;
}

.idz-categories-widget li a,
.idz-archive-widget li a {
    color: #788084;
}

.idz-categories-widget li a span {
    position: relative;
    top: 4px;
}

.idz-popular-widget.uk-list-divider > li:nth-child(n+2) {
    margin-top: 15px;
    padding-top: 15px;
}

.idz-popular-widget li img {
    width: 90px;
    height: 80px;
}

.idz-popular-widget li a {
    color: #788084;
    position: relative;    
    top: 0px;
}

.idz-popular-widget li span {
    width: 100%;
  font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 10px;
    margin: 5px 0 -10px 0;
    float: left;
}

.idz-popular-widget li a span {
    color: #196010;
}

.idz-archive-widget li a span {
    position: relative;
    top: 1px;
}

.idz-tag-cloud a.uk-label {
    border-radius: 4px;
    margin-bottom: 3px;
}

.idz-tag-cloud a.uk-label:hover {
    color: #fff;
    text-decoration: none;
}

/* [ 3. footer ] */
footer {
    font-size: 14px;
    line-height: 22px;
    background: #901005 url(../images/footer_ornament.png) no-repeat 24% 100%;    
}

footer p {
    color: #fff; 
}

footer hr {
    position: relative;
    z-index: 99;
    top: -32px;
}

footer .uk-icon-button {
    border-radius: 0px;
}

footer .uk-light .uk-icon-button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(55, 71, 79, 1);
}

footer .uk-light .uk-icon-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(55, 71, 79, 1) !important;
}

#footer-logo img {
    width: 110px;
}

#footer-logo span {
    background-color: #196010;
    padding-right: 10px;
    position: relative;
    z-index: 100;
}

.idz-footer-download a:first-child {
    position: relative;
    left: -38px;
    float: left;
}

.idz-footer-download a:last-child {
    position: relative;
    top: -39px;
    float: right;
}

.uk-totop {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    margin-top: -60px;
    background-color: rgba(255, 255, 255, 1) !important;
    color: rgba(55, 71, 79, 1) !important;
    position: relative !important;
    right: 25px;
    bottom: 25px;
    float: right;
}



.fixed-whatsapp {
    position: fixed;
     z-index:999;
    bottom: 55px;
    left: 10px;
    display: none;
}

.fixed-phone {
    position: fixed;
    bottom: 55px;
    right: 10px;
  z-index:999;
    display: none;
}
.fixed-whatsapp .fa-whatsapp {
    background-color: #5d9813;
    border-radius: 50px;
    padding: 7px 10px 7px 10px;
    color: #fff !important;
    margin-right: 2px;
    font-size: 34px;
    box-shadow: -2px 4px 8px 0px #595959;
}
.fa.fa-whatsapp {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}
.fixed-phone a{ color: #fff !important;}
.fixed-phone .fa-phone {
    background-color: #5d9813;
    border-radius: 50px;
    padding: 10px 11px;
    color: #fff !important;
    margin-right: 2px;
    font-size: 28px;
    box-shadow: -2px 4px 8px 0px #595959;
}

.fa, .fas {
    font-weight: 900;
}
.footmarqudata{  }
.footmarqudata span { padding: 0 10px; text-transform: capitalize; font-size: 13px; line-height: 32px; display: inline-block; }
.footmarqudata span > a { display: inline-block; color: #ade7ff; font-style: normal; font-size: 12px; line-height: 12px; transition: all .8s ease; }
.footmarqudata span > a:hover { color: #44c4e1; }
.footmarqudata span > i { display: inline-block; font-style: normal; color: #fff; margin: 0 5px; font-size: 12px; line-height: 12px; }
.footmarqudata span > b { display: inline-block; font-weight: normal; font-size: 13px; line-height: 12px; }
.footmarqudata span > b.up { color: #28bd3f; }
.footmarqudata span > b.down { color: #ff5543; }
.footmarqudata span > b.equal { color: #fff; }   
.footmarque {
     font-size: 12px;
    display: block;
    font-family: montserratlight;
    text-transform: none;
    z-index: 9996;
    height: 60px;
    background: #901005!important;
    line-height: 54px;  }
.footmarque > ul { padding: 0; margin: 0; }
.footmarque > ul > li { display: inline-block; color: #fff; text-transform: uppercase; font-size: 12px; line-height: 32px; padding: 0; cursor: pointer; transition: all .8s ease; }
.footmarque > ul > li > em { display: inline-block; font-style: normal; padding: 0 4px; color: #426f84; }
.footmarque > ul > li.active, .footmarque > ul > li:hover { color: #44c4e1; }
.footmarqudiv { display: block;color: #fff;overflow:hidden; }
/*@media (min-width: 1200px){*/
/*  .uk-child-width-1-4\@l>* {*/
/*    width: 17%;*/
/*}*/
  
/*}*/


.top-right{
     justify-content: flex-end;
}
.top-right>div{
    width: auto;
    display: inline-block;
    float: none;
        padding: 0px;
}
.idz-mini-nav {
    width: 100px !important;
    text-align: center;
    padding: 5px !important;
        margin-left: 15px;
}


.mobileshow{display:none;}
@media screen and (max-width: 767px){
.fixed-phone, .fixed-whatsapp {
    display: block;
}
}
header .select-label {
    font-size: 16px;
    font-family: 'century_gothicregular';
    font-weight: 800;
    color: #37474f;
        line-height: 38px;
}
.tp-portfolio-area img{width:100%;}
.top-rightlft{    width: 35% !important;}
.top-rightcenter{    width: 34% !important;}
.top-rightrht{width: 30% !important;}
.paddtp{padding-top:60px;}
.margtp50{padding-top:50px;}
.margtop50{margin-top:50px;}
.paddtpbtm{padding-top:60px;padding-bottom:60px;}
.dispblock{    display: block !important;
    width: 100%;
    clear: both;
    float: left;}
    
   .testimonial-iframe{    display: block !important;
    width: 100%;} 
    
.dispblock>div{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 49%;
    float: left;
}
.dispblock>div:first-child{
    margin-right:5px;
}
.wid50{width:50%;}
.grey-bg {
    background: #dedff9;
}
.investbg{background:url("../../public/images/business-office-work.png") left center;background-size:cover;}
.investbg h2{color:#fff;}
.home-map img{
     height: 250px;
    width: 100%;
}
.about-section iframe{width:100%;}
   modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}
.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}
.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}
.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}
.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.anouncement-modal h2{color:#196010;}
.anouncement-modal h4{color:#901005;}
.anouncement-modal{text-align:center;}
.anouncement-modal .uk-input{margin:20px 0px;}

.anouncement-modal .modal-header {border-bottom: none;}
    
.wid60{width:60%;margin:0px auto;}
.anouncement-modal .modal-header{border-bottom:0px;}
.anouncement-modal .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    border: none;
    background: transparent;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
        cursor: pointer;
}
.anouncement-modal p{
    color: #37474f;
    font-weight: 700;
}
.selectdropbtn {
    background-color: #901005;
    border: transparent;
    border-radius: 6px;
    color: white;
    font-family: 'century_gothicregular';
    font-weight: 800;
    font-size: 11px;
    padding: 2px 19px;
    border: none;
    cursor: pointer;
    width: 124px;
    line-height: 38px;
    text-transform: uppercase;
}

.selectdropbtn:hover, .selectdropbtn:focus {
  background-color: #196010;
}

.selectdropdown {
  position: relative;
  display: inline-block;
}

.selectdropdown-content {
  display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    left: 0px;
}

.selectdropdown-content a {
    color: black;
    padding: 1px 14px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e4dede;
}

.selectdropdown a:hover {background-color: #ddd;}

.selectshow{display: block;}
.courses_item:hover a, .courses_item a:hover {color:#fff !important;}
.investment-section a{text-decoration:none;}
#pagetitle-container{
       background: url(../../public/images/business-office-work.png) left center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100px;
    padding: 60px 0px;
        height: auto;
}
.uk-breadcrumb>*>* {
    color: #fff;
}
.uk-breadcrumb>:last-child>* {
    color: #ffc10c;
}
#pagetitle-container h2{color:#fff;    display: inline-block;margin-bottom:0px;padding-bottom:0px;}
#pagetitle-container ul{margin-top:0px;}
.fixed-whatsapp {
    position: fixed;
     z-index:999;
    bottom: 5px;
    left: 10px;
    display: none;
}

.fixed-phone {
    position: fixed;
    bottom: 10px;
    right: 10px;
  z-index:999;
    display: none;
}
.fixed-whatsapp .fa-whatsapp {
    background-color: #5d9813;
    border-radius: 50px;
    padding: 7px 10px 7px 10px;
    color: #fff !important;
    margin-right: 2px;
    font-size: 34px;
    box-shadow: -2px 4px 8px 0px #595959;
}
.fa.fa-whatsapp {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}
.fixed-phone a{ color: #fff !important;}
.fixed-phone .fa-phone {
    background-color: #5d9813;
    border-radius: 50px;
    padding: 10px 11px;
    color: #fff !important;
    margin-right: 2px;
    font-size: 28px;
    box-shadow: -2px 4px 8px 0px #595959;
}

.fa, .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.mobileshow{display:none;}

@media screen and (max-width: 767px){
.fixed-phone, .fixed-whatsapp {
    display: block;
}
#header-logo {
    width: auto;
    float: left;
    display: inline-block;
}
.idz-mobile-nav {
    margin: 0px !important;
    padding: 0px;
        position: absolute;
    right: 0px;
    top: 36px;
}
header {
    padding-top: 10px;
    padding-bottom: 10px;
}
}